@import "base.less";

/** --------------------------------------------------------------
 * Colors.
 * 
 */
@black:#000;
@blue:#049cdb;
@green:#46a546;
@red:#9d261d;
@yellow:#ffc40d;
@orange:#f89406;
@grey:#555;
@greyLight:#999;
@greyLighter:#eee;
@bg:#BFBFB0;
@bg-content:#F9F9DC;
@bg-head:#EAB885;
@menu-color:#FFF9B5;
@max-width: 940px;


.black{color:@black;}
.blue{color:@blue;}
.green{color:@green;}
.red{color:@red;}
.yellow{color:@yellow;}
.orange{color:@orange;}


/** --------------------------------------------------------------
 * Page layout.
 * HTML tags
 */
body{max-width:@max-width;margin:8px auto;background-color:@bg;}
h2{font-size: 150%;font-weight: bold;}
h4{font-size: 110%;font-weight: bold;}
h5{font-weight: bold;}
a{
 		text-decoration: none;
		color:@grey;
		&:hover{
			color:lighten(@grey,20%);
			text-decoration: underline;
		}
 	}

/** --------------------------------------------------------------
* Header
*
*/
#header {
	width: 100%;
	.gradient(@bg-head,@grey,98%, 100%);//background-color: @bg-head;
	display: inline-block;
	margin: 0px;

	.logo{
		span{
			font-family: courier, monospace, sans-serif;
			color: @menu-color;
			font-size: 8em;
			padding-left:5px;
			//margin-bottom: 0em;
		}
	}
}

/** --------------------------------------------------------------
 * Menu
 *
 */
 *[id*='nav'] ul{list-style-type: none;}

 #main-nav {
 	a{
 		text-decoration: none;
		font-size: 3em;
		color:@menu-color;
		padding: 0.5em;
		&:hover{
			color:lighten(@menu-color,20%);
			text-decoration: underline;
		}
 	}
 }

/** --------------------------------------------------------------
 * Boxes.
 * 
 */
 #container, .wrapper{
 	border: 1px solid @greyLight;
 	margin:2em auto;
 	.gradient(@bg-head,@bg-content,3em);
 	min-height:10em;
 	border:1px solid @greyLight; 
 	padding: 1em 0;
	.border-radius(10px);
	.box-shadow();
	.head{
		height: 2em; 
		position: relative; 
		right: 1em; 
		width:(@max-width - 33%); 
		padding:0 1em;
	}
	#content{
		padding:1em;
		.clearfix();
	}
}


/** --------------------------------------------------------------
 * Footer.
 * 
 */
@color:lighten(@grey,10%);
#footer{
	font-size:smaller;
	color:@color;
	margin-top:@magic-number;
	padding:0.5em;

  	a{
  		color:@color;
  		text-decoration:none;
    	&:hover{
    		color:lighten(@color,20%);
    		text-decoration:underline;
    	}
  	}
  	div[id^="bottom-"] {
  		width:30%;
  		padding:0 1em;
  		cite{font-style:italic;}
  	}


  	.bottom{
	padding-top: 0.5em;
	border-top: 1px ridge @greyLight;
//	.gradient(@greyLight,@bg,0%, 15%);
	//.border-radius();
	}
}

.left { float: left !important;}
.right {float: right !important;}

.align-center {text-align: center;}
.align-right{text-align: right;}
//*/


*[class*='span'] {
	float: left;
}

.span-6 {
	width: 230px;
}
.span-11 {
	width:630px;
}

.inline-block{
	display: inline-block !important;
}

.block label {
	display: block;
}

.post {
	padding: 3px;
	div{
		.border-radiusx(10px, 10px);
		&.post-headline{
			img {margin-right: 1em;}
			.box-shadow(); 
			border: 1px solid @greyLight;
			padding: 1em;
			margin-bottom: 1em; 
		}
		padding: 3px;
		&:first-child {background: @bg-head;}
	}
}
