@import "base.less";


/** --------------------------------------------------------------
 * Colors.
 * 
 */
@black:#000;
@blue:#049cdb;
@green:#46a546;
@red:#9d261d;
@yellow:#ffc40d;
@orange:#f89406;
@grey:#555;
@greyLight:#999;
@greyLighter:#eee;
@max-width: 940px;


.black{color:@black;}
.blue{color:@blue;}
.green{color:@green;}
.red{color:@red;}
.yellow{color:@yellow;}
.orange{color:@orange;}

.right{float:right;}
.left{float:left;}

body {
	background-color: #BFBFB0;
}

fieldset {
	border:1px solid #ccc;
}

header, #header {
	width: 100%;
	background-color: #EAB885;
	display: inline-block;
	margin: 0px;

	span{
		font-family: courier, monospace, sans-serif;
		color: #FFF9B5;
		font-size: 10em;
		margin-bottom: 0px;
	}
}

a{
	.transition(all,0.2s);
	&:link{text-decoration: none;color:@greyLight;}
	&:visited{color:@greyLight;}
	&:hover{color:@black;.transition(all,0.2s)}
}

nav{
	display: inline-block;
	width:20%;
	ul{
		list-style: none;
		li{
			a{width: 100%}
			position: relative;

			.transition(all,0.2s);

			&:nth-child(odd){right: -10px; bottom: 0;}
			&:nth-child(even){right: 10px; bottom: 0;}
			&:hover{right:0;bottom:0; .transition(all,0.2s);}
			&.active{right:0;left:0;a{color:@black;}}
		}
	}
}

footer, #footer {
	.clearfix();
	background-color: #FFF9B5;
	div{
		display:inline-block;
		border-top: 1px solid @greyLighter;
		padding-top: 1em;
		vertical-align: top;
		width: 30%;
		padding: 10px;
	}
}


#base-container{
	max-width: 1180px;
	background-color: #F9F9DC;
}

.container {
	margin: 0px auto;
}

.content{
	display: inline-block;
	padding: 20px 10px 40px 10px;
}
